- hosts: 127.0.0.1

  vars_files:
    - ~/.config/ansible/vars.yml

  tasks:
    - name: Get device info
      shell: hostnamectl --json pretty
      register: device_info_raw

    - name: Store device info
      set_fact:
        device_info: "{{ device_info_raw.stdout | from_json }}"

    - include_tasks: tasks/coprs.yml

    - include_tasks: tasks/framework.yml

    - include_tasks: tasks/fonts.yml

    - include_tasks: tasks/dev.yml

    - include_tasks: tasks/vscode.yml

    - include_tasks: tasks/multimedia.yml

    - include_tasks: tasks/zoom.yml

    - include_tasks: tasks/bash.yml

    - include_tasks: tasks/git.yml

    - include_tasks: tasks/ssh.yml

    - include_tasks: tasks/misc.yml

    - include_tasks: tasks/conda.yml