- hosts: 127.0.0.1

  vars_files:
    - ~/.config/ansible/vars.yml
    - ~/.config/ansible/options.yml

  tasks:
    # mandatory tasks
    
    - include_tasks: tasks/coprs.yml

    - include_tasks: tasks/framework.yml

    - include_tasks: tasks/fonts.yml

    - include_tasks: tasks/dev.yml

    - include_tasks: tasks/vscode.yml

    - include_tasks: tasks/multimedia.yml

    - include_tasks: tasks/zoom.yml

    - include_tasks: tasks/bash.yml

    - include_tasks: tasks/git.yml

    - include_tasks: tasks/ssh.yml

    - include_tasks: tasks/discord.yml

    - include_tasks: tasks/misc.yml

    - include_tasks: tasks/conda.yml
    
    # optional tasks
    
    - include_tasks: tasks/util.yml

    - include_tasks: tasks/thunderbird.yml

    - include_tasks: tasks/gnome.yml

    - include_tasks: tasks/filezilla.yml

    - include_tasks: tasks/pixi.yml
