- name: Install packages
  become: true
  package:
    name:
      - util-linux-user
      - starship
      - intel-media-driver
      - dnf-automatic
      - inkscape
      - texlive-scheme-full
      - pdfarranger
      - gedit

- name: Configure dnf-automatic
  become: true
  shell: |
    systemctl enable --now dnf-automatic.timer
