name: test playbook

on: [pull_request]

jobs:
  test-plain:
    runs-on: ubuntu-latest
    container:
      image: fedora:38
      # volumes:
      #   - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Install prerequisites
        run: |
          dnf install -y ansible openssh-clients git

      - uses: actions/checkout@v3

      - name: Generate dummy keys for testing
        run: |
          mkdir -p ~/.ssh
          ssh-keygen -f ~/.ssh/id_ikim -N testpass
          ssh-keygen -f ~/.ssh/id_git -N testpass

      - name: Create dummy config file
        uses: BoundfoxStudios/action-write-file@v1
        with:
          path: /home/runner/.config/ansible/vars.yml
          contents: |
            ikim_username: dummy
            ikim_ssh_key: id_ikim
            git_ssh_key: id_git
            git_email: dommy@noreply.github.com
            git_name: Dummy
          write-mode: overwrite
      
      - name: Run playbook
        run: |
          dnf install -y ansible
          ansible-playbook playbook.yml
      
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Generate dummy keys for testing
      run: |
        ssh-keygen -f ~/.ssh/id_ikim -N testpass
        ssh-keygen -f ~/.ssh/id_git -N testpass

    - name: Create dummy config file
      uses: BoundfoxStudios/action-write-file@v1
      with:
        path: /github/home/.config/ansible/vars.yml
        contents: |
          ikim_username: dummy
          ikim_ssh_key: id_ikim
          git_ssh_key: id_git
          git_email: dommy@noreply.github.com
          git_name: Dummy
        write-mode: overwrite

    - name: Create dummy hosts file
      uses: BoundfoxStudios/action-write-file@v1
      with:
        path: hosts.ini
        contents: |
          [all]

        write-mode: overwrite

    - name: test playbook on fedora:latest
      uses: roles-ansible/check-ansible-fedora-latest-action@master
      with:
        targets: "playbook.yml"
        hosts: "127.0.0.1"
